.container {
    border: 1px solid red;
    width: 400px;
    display: flex;
    padding: 5px;
    justify-content: space-between;
}

.wide {
    width: 800px;
}

.buttons {
    display: flex;
    flex-direction: column;
    flex-shrink:0;
    justify-content: center;
    align-items: center;
}

.inputArea {
    flex-grow: 1;
    margin: 5px;
    word-wrap: break-word;  
}

.input {
    border: 1px solid black;
    height: 100%;
    margin: 0;
    min-width: 0; 
}

.button {
    border: 1px solid black;
    margin: 5px;
}